// Colors
$Aqua-squeeze: #EEF8F6;
$Nebula: #C0D4D1;
$slate-gray: #748190;
$chardonnay: #FDCE8B;

// fonts
$reem-kufi: 'Reem Kufi', sans-serif;
$open-sans: 'Open Sans', sans-serif;


// named size
$container-size: 80%;
$container-size-mobile: 97%;
$photo-width:26%;
$photo-mobile-width:70%;
$photo-height:24%;

